[Unit]
Description=TPM2 post-install manager

[Service]
Type=forking
User=root
WorkingDirectory=LOCATION
ReadWriteDirectories=/
TimeoutSec=180
ExecStart=LOCATION/setup2

[Install]
WantedBy=multi-user.target