[Unit]
Description=TPM2 post-install manager

[Service]
Type=forking
User=root
WorkingDirectory=LOCATION
ReadWriteDirectories=/
TimeoutSec=180
ExecStart=LOCATION/tpm2PolicyConfig

[Install]
WantedBy=multi-user.target